@model IEnumerable<Restaurant.Models.Reservation>

@{
    ViewData["Title"] = "Reservations";
}

<h1 class="bg-info text-light text-center p-3">On Call Reservations</h1>

<div>
    <a asp-action="Create" class="btn btn-primary">Add New Reservation</a>
</div>
<hr />

<form asp-action="Index" method="post" class="form-inline mt-3 mb-3">
    <div class="form-group">
        <strong>Find By Name/Phone: &emsp;</strong>
        <input id="phone" name="searchString" class="form-control" placeholder="search" />
    </div>
    <div class="form-group ml-2">
        <input type="submit" value="Find" class="btn btn-success" /> &emsp;|&emsp;
        <a asp-action="Index" class="btn btn-primary">Display All</a>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Attendance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmationPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.StartDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="attendances">
                @Html.DisplayFor(modelItem => item.Attendance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmationPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Title)
            </td>
            <td>
                @{ var date = item.Event.StartDate.ToString("ddd, dd MMM/yyy");} @*String.Format("{0:M/d/yyyy}",           dt);*@
                @{ string s1 = item.Event.StartDate.ToString("dd MMM yyyy"); } @*String.Format("{0:M/d/yyyy}",           dt);*@

                @*@Html.DisplayFor(modelItem => item.Event.StartDate)*@
                @s1
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            // if attendance checkd change the background to green
            $(".attendances").each(function (i, obj) {
                let v = $(this).children('input[type="checkbox"]')
                if (v.prop("checked") === true) {
                    $(this).css({ "background-color": "lightgreen" })
                }
            });
            // phone field formatter
            $("#phone").keyup(function () {
                var curchr = this.value.trim().length;
                var curval = $(this).val().trim();
                if (isNaN(curval[1]) === false) {
                    if (curchr === 3) {
                        $("#phone").val("(" + curval + ")" + "-");
                    } else if (curchr === 9) {
                        $("#phone").val(curval + "-");
                    }
                }
               
            });
        });
    </script>
}